# Dependencies
node_modules/
**/node_modules/

# Expo / Metro / builds
.expo/
**/.expo/
dist/
**/dist/
web-build/
*.tsbuildinfo

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Env / secrets
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc temp
*.tmp
